# Normalize line endings to LF for all text files.
*               text=auto

*.sh            text eol=lf
*.bat           text eol=crlf
*.cmd           text eol=crlf



# HSP3
*.hsp           text linguist-language=HSP3
*.as            text linguist-language=HSP3
*.hs            text linguist-language=HDL Help Source
*.hpi           binary linguist-language=HSP3 Plugin
